{"swagger": "2.0", "info": {"title": "Gspot Games", "description": "Test description", "license": {"name": "BSD License"}, "version": "v1"}, "host": "games.alpha.g-spot.website", "schemes": ["https"], "basePath": "/api/v1", "consumes": ["application/json"], "produces": ["application/json"], "securityDefinitions": {"Basic": {"type": "basic"}}, "security": [{"Basic": []}], "paths": {"/community/comments/{review_id}/": {"get": {"operationId": "community_comments_read", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "per_page", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Comment"}}}}}}, "tags": ["community"]}, "parameters": [{"name": "review_id", "in": "path", "required": true, "type": "string"}]}, "/community/review/{game_uuid}/": {"get": {"operationId": "community_review_read", "description": "", "parameters": [{"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Review"}}}}}}, "tags": ["community"]}, "parameters": [{"name": "game_uuid", "in": "path", "required": true, "type": "string"}]}, "/core/dlc/": {"post": {"operationId": "core_dlc_create", "description": "", "parameters": [{"name": "data", "in": "query", "required": true, "schema": {"$ref": "#/definitions/GameDlcLink"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/GameDlcLink"}}}, "tags": ["core"]}, "parameters": []}, "/core/product/": {"get": {"operationId": "core_product_list", "description": "", "parameters": [{"name": "min_price", "in": "query", "description": "", "required": false, "type": "number"}, {"name": "max_price", "in": "query", "description": "", "required": false, "type": "number"}, {"name": "name", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "platform", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "created_after", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "created_before", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "genres", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "subgenres", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/GamesList"}}}}}}, "tags": ["core"]}, "post": {"operationId": "core_product_create", "description": "", "parameters": [{"name": "data", "in": "query", "required": true, "schema": {"$ref": "#/definitions/CreateProduct"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/CreateProduct"}}}, "tags": ["core"]}, "parameters": []}, "/core/product/{id}/": {"get": {"operationId": "core_product_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/GameDetail"}}}, "tags": ["core"]}, "put": {"operationId": "core_product_update", "description": "", "parameters": [{"name": "data", "in": "query", "required": true, "schema": {"$ref": "#/definitions/Product"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Product"}}}, "tags": ["core"]}, "patch": {"operationId": "core_product_partial_update", "description": "", "parameters": [{"name": "data", "in": "query", "required": true, "schema": {"$ref": "#/definitions/Product"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Product"}}}, "tags": ["core"]}, "delete": {"operationId": "core_product_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["core"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/core/products/": {"get": {"operationId": "core_products_list", "description": "", "parameters": [{"name": "min_price", "in": "query", "description": "", "required": false, "type": "number"}, {"name": "max_price", "in": "query", "description": "", "required": false, "type": "number"}, {"name": "name", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "platform", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "created_after", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "created_before", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "genres", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "subgenres", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/GamesList"}}}}}}, "tags": ["core"]}, "post": {"operationId": "core_products_create", "description": "", "parameters": [{"name": "data", "in": "query", "required": true, "schema": {"$ref": "#/definitions/CreateProduct"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/CreateProduct"}}}, "tags": ["core"]}, "parameters": []}, "/core/products/{id}/": {"get": {"operationId": "core_products_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/GameDetail"}}}, "tags": ["core"]}, "put": {"operationId": "core_products_update", "description": "", "parameters": [{"name": "data", "in": "query", "required": true, "schema": {"$ref": "#/definitions/Product"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Product"}}}, "tags": ["core"]}, "patch": {"operationId": "core_products_partial_update", "description": "", "parameters": [{"name": "data", "in": "query", "required": true, "schema": {"$ref": "#/definitions/Product"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Product"}}}, "tags": ["core"]}, "delete": {"operationId": "core_products_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["core"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/core/system_requirement/": {"get": {"operationId": "core_system_requirement_list", "description": "", "parameters": [{"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/SystemRequirement"}}}}}}, "tags": ["core"]}, "post": {"operationId": "core_system_requirement_create", "description": "", "parameters": [{"name": "data", "in": "query", "required": true, "schema": {"$ref": "#/definitions/SystemRequirement"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/SystemRequirement"}}}, "tags": ["core"]}, "parameters": []}, "/core/system_requirement/{id}/": {"get": {"operationId": "core_system_requirement_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SystemRequirement"}}}, "tags": ["core"]}, "put": {"operationId": "core_system_requirement_update", "description": "", "parameters": [{"name": "data", "in": "query", "required": true, "schema": {"$ref": "#/definitions/SystemRequirement"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SystemRequirement"}}}, "tags": ["core"]}, "patch": {"operationId": "core_system_requirement_partial_update", "description": "", "parameters": [{"name": "data", "in": "query", "required": true, "schema": {"$ref": "#/definitions/SystemRequirement"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SystemRequirement"}}}, "tags": ["core"]}, "delete": {"operationId": "core_system_requirement_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["core"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/finance/offer/": {"post": {"operationId": "finance_offer_create", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["finance"]}, "parameters": []}, "/reference/genre/": {"get": {"operationId": "reference_genre_list", "description": "", "parameters": [{"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Genre"}}}}}}, "tags": ["reference"]}, "post": {"operationId": "reference_genre_create", "description": "", "parameters": [{"name": "data", "in": "query", "required": true, "schema": {"$ref": "#/definitions/Genre"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Genre"}}}, "tags": ["reference"]}, "parameters": []}, "/reference/genre/{id}/": {"get": {"operationId": "reference_genre_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Genre"}}}, "tags": ["reference"]}, "put": {"operationId": "reference_genre_update", "description": "", "parameters": [{"name": "data", "in": "query", "required": true, "schema": {"$ref": "#/definitions/Genre"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Genre"}}}, "tags": ["reference"]}, "patch": {"operationId": "reference_genre_partial_update", "description": "", "parameters": [{"name": "data", "in": "query", "required": true, "schema": {"$ref": "#/definitions/Genre"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Genre"}}}, "tags": ["reference"]}, "delete": {"operationId": "reference_genre_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["reference"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this genre.", "required": true, "type": "integer"}]}, "/reference/languages/": {"get": {"operationId": "reference_languages_list", "description": "", "parameters": [{"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Language"}}}}}}, "tags": ["reference"]}, "post": {"operationId": "reference_languages_create", "description": "", "parameters": [{"name": "data", "in": "query", "required": true, "schema": {"$ref": "#/definitions/Language"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Language"}}}, "tags": ["reference"]}, "parameters": []}, "/reference/languages/{id}/": {"get": {"operationId": "reference_languages_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Language"}}}, "tags": ["reference"]}, "put": {"operationId": "reference_languages_update", "description": "", "parameters": [{"name": "data", "in": "query", "required": true, "schema": {"$ref": "#/definitions/Language"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Language"}}}, "tags": ["reference"]}, "patch": {"operationId": "reference_languages_partial_update", "description": "", "parameters": [{"name": "data", "in": "query", "required": true, "schema": {"$ref": "#/definitions/Language"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Language"}}}, "tags": ["reference"]}, "delete": {"operationId": "reference_languages_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["reference"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this language.", "required": true, "type": "integer"}]}, "/reference/product_languages/": {"get": {"operationId": "reference_product_languages_list", "description": "", "parameters": [{"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ProductLanguage"}}}}}}, "tags": ["reference"]}, "post": {"operationId": "reference_product_languages_create", "description": "", "parameters": [{"name": "data", "in": "query", "required": true, "schema": {"$ref": "#/definitions/ProductLanguage"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ProductLanguage"}}}, "tags": ["reference"]}, "parameters": []}, "/reference/product_languages/{id}/": {"get": {"operationId": "reference_product_languages_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ProductLanguage"}}}, "tags": ["reference"]}, "put": {"operationId": "reference_product_languages_update", "description": "", "parameters": [{"name": "data", "in": "query", "required": true, "schema": {"$ref": "#/definitions/ProductLanguage"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ProductLanguage"}}}, "tags": ["reference"]}, "patch": {"operationId": "reference_product_languages_partial_update", "description": "", "parameters": [{"name": "data", "in": "query", "required": true, "schema": {"$ref": "#/definitions/ProductLanguage"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ProductLanguage"}}}, "tags": ["reference"]}, "delete": {"operationId": "reference_product_languages_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["reference"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this product language.", "required": true, "type": "integer"}]}, "/reference/subgenre/": {"get": {"operationId": "reference_subgenre_list", "description": "", "parameters": [{"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/SubGenre"}}}}}}, "tags": ["reference"]}, "post": {"operationId": "reference_subgenre_create", "description": "", "parameters": [{"name": "data", "in": "query", "required": true, "schema": {"$ref": "#/definitions/SubGenre"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/SubGenre"}}}, "tags": ["reference"]}, "parameters": []}, "/reference/subgenre/{id}/": {"get": {"operationId": "reference_subgenre_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SubGenre"}}}, "tags": ["reference"]}, "put": {"operationId": "reference_subgenre_update", "description": "", "parameters": [{"name": "data", "in": "query", "required": true, "schema": {"$ref": "#/definitions/SubGenre"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SubGenre"}}}, "tags": ["reference"]}, "patch": {"operationId": "reference_subgenre_partial_update", "description": "", "parameters": [{"name": "data", "in": "query", "required": true, "schema": {"$ref": "#/definitions/SubGenre"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SubGenre"}}}, "tags": ["reference"]}, "delete": {"operationId": "reference_subgenre_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["reference"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this sub genre.", "required": true, "type": "integer"}]}, "/utils/filters/genres": {"get": {"operationId": "utils_filters_genres_list", "description": "List of genres", "parameters": [{"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/GenreGames"}}}}}}, "tags": ["utils"]}, "parameters": []}, "/utils/filters/platforms": {"get": {"operationId": "utils_filters_platforms_list", "description": "List of operating systems", "parameters": [{"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/OperatingSystem"}}}}}}, "tags": ["utils"]}, "parameters": []}, "/utils/filters/prices": {"get": {"operationId": "utils_filters_prices_list", "description": "Returns the minimum and maximum price for a product", "parameters": [{"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/MinMaxPrice"}}}}}}, "tags": ["utils"]}, "parameters": []}}, "definitions": {"Comment": {"required": ["text"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "userUuid": {"title": "User uuid", "type": "string", "format": "uuid", "readOnly": true}, "createdAt": {"title": "Created at", "type": "string", "format": "date-time", "readOnly": true}, "text": {"title": "Text", "type": "string", "minLength": 1}}}, "Review": {"required": ["text", "grade"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "reactions": {"title": "Reactions", "type": "string", "readOnly": true}, "language": {"title": "Language", "type": "string", "readOnly": true}, "userUuid": {"title": "User uuid", "type": "string", "format": "uuid", "readOnly": true}, "text": {"title": "Text", "type": "string", "minLength": 1}, "grade": {"title": "Grade", "type": "string", "enum": ["LIKE", "DISLIKE"]}, "viewType": {"title": "View type", "type": "boolean"}, "canReply": {"title": "Can reply", "type": "boolean"}, "createdAt": {"title": "Created at", "type": "string", "format": "date-time", "readOnly": true}}}, "GameDlcLink": {"required": ["game", "dlc"], "type": "object", "properties": {"game": {"title": "Game", "type": "string", "format": "uuid"}, "dlc": {"type": "array", "items": {"type": "string", "format": "uuid"}}}}, "ShortSystemReqSerializers": {"required": ["operatingSystem"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "operatingSystem": {"title": "Operation system", "type": "string", "enum": ["LINUX", "WINDOWS", "MACOS", "PS", "XBOX"]}}}, "GamesList": {"required": ["name", "genres"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 100, "minLength": 1}, "releaseDate": {"title": "Release date", "type": "string", "format": "date", "readOnly": true}, "genres": {"type": "array", "items": {"type": "string"}, "uniqueItems": true}, "systemRequirements": {"type": "array", "items": {"$ref": "#/definitions/ShortSystemReqSerializers"}, "readOnly": true}, "price": {"title": "Price", "type": "string", "readOnly": true}, "discount": {"title": "Discount", "type": "integer", "default": 0}, "isBought": {"title": "Is bought", "type": "boolean", "default": false}, "isFavorite": {"title": "Is favorite", "type": "boolean", "default": false}}}, "SystemRequirement": {"required": ["operatingSystem", "deviceProcessor", "deviceMemory", "deviceStorage", "deviceGraphics", "typeRequirements"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "operatingSystem": {"title": "Operation system", "type": "string", "enum": ["LINUX", "WINDOWS", "MACOS", "PS", "XBOX"]}, "deviceProcessor": {"title": "Processor", "type": "string", "maxLength": 100, "minLength": 1}, "deviceMemory": {"title": "Memory", "type": "string", "maxLength": 100, "minLength": 1}, "deviceStorage": {"title": "Storage", "type": "string", "maxLength": 100, "minLength": 1}, "deviceGraphics": {"title": "Graphics", "type": "string", "maxLength": 100, "minLength": 1}, "typeRequirements": {"title": "System requirement", "type": "string", "enum": ["MINIMUM", "RECOMMEND"]}}}, "ProductLanguage": {"required": ["languageName"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "languageName": {"title": "Language name", "type": "string", "minLength": 1}, "interface": {"title": "Interface", "type": "boolean"}, "subtitles": {"title": "Subtitles", "type": "boolean"}, "voice": {"title": "Voice", "type": "boolean"}}}, "GameSocial": {"required": ["url"], "type": "object", "properties": {"type": {"title": "Social_media", "type": "string", "enum": ["FACEBOOK", "VKONTAKTE", "SITE", "YOUTUBE", "TWITTER", "TWITCH", "TELEGRAM"]}, "url": {"title": "Url", "type": "string", "format": "uri", "maxLength": 200, "minLength": 1}}}, "Price": {"required": ["amount", "createdBy", "updatedBy"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "amount": {"title": "Price", "type": "string", "format": "decimal"}, "currency": {"title": "Currency", "type": "string", "enum": ["RUB", "USD", "KZT", "EUR"]}, "createdBy": {"title": "Created by", "type": "string", "format": "uuid"}, "createdAt": {"title": "Created at", "type": "string", "format": "date-time", "readOnly": true}, "updatedBy": {"title": "Updated by", "type": "string", "format": "uuid"}, "updatedAt": {"title": "Updated at", "type": "string", "format": "date-time", "readOnly": true}}}, "Offer": {"required": ["createdBy", "products", "price"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "createdBy": {"title": "UUID creator", "type": "string", "format": "uuid"}, "isActive": {"title": "Is active", "type": "boolean"}, "products": {"type": "array", "items": {"type": "string", "format": "uuid"}, "uniqueItems": true}, "price": {"$ref": "#/definitions/Price"}}}, "ProductOffer": {"required": ["offer", "createdBy"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "offer": {"$ref": "#/definitions/Offer"}, "createdBy": {"title": "UUID creator", "type": "string", "format": "uuid"}, "createdAt": {"title": "Created At", "type": "string", "format": "date-time", "readOnly": true}}}, "CreateProduct": {"required": ["name", "developersUuid", "publishersUuid", "description", "about", "type", "systemRequirements", "langs", "productOffer", "genres"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 100, "minLength": 1}, "developersUuid": {"title": "Developers uuid", "type": "string", "format": "uuid"}, "publishersUuid": {"title": "Publishers uuid", "type": "string", "format": "uuid"}, "description": {"title": "Description", "type": "string", "minLength": 1}, "about": {"title": "About", "type": "string", "minLength": 1}, "age": {"title": "Age", "type": "integer", "maximum": 2147483647, "minimum": -2147483648, "x-nullable": true}, "adult": {"title": "Adult", "type": "string", "x-nullable": true}, "type": {"title": "Type product", "type": "string", "enum": ["GAMES", "DLC"]}, "systemRequirements": {"type": "array", "items": {"$ref": "#/definitions/SystemRequirement"}}, "langs": {"type": "array", "items": {"$ref": "#/definitions/ProductLanguage"}}, "socials": {"type": "array", "items": {"$ref": "#/definitions/GameSocial"}}, "productOffer": {"$ref": "#/definitions/ProductOffer"}, "genres": {"type": "array", "items": {"type": "string", "minLength": 1}}}}, "SubGenre": {"required": ["name"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "name": {"title": "Subgenre", "type": "string", "maxLength": 50, "minLength": 1}}}, "GenreGames": {"required": ["name"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "name": {"title": "Genre", "type": "string", "maxLength": 50, "minLength": 1}, "subgenres": {"type": "array", "items": {"$ref": "#/definitions/SubGenre"}, "readOnly": true}}}, "Product": {"required": ["name", "description", "developersUuid", "publishersUuid", "langs"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 100, "minLength": 1}, "description": {"title": "Description", "type": "string", "minLength": 1}, "developersUuid": {"title": "Developers uuid", "type": "string", "format": "uuid"}, "publishersUuid": {"title": "Publishers uuid", "type": "string", "format": "uuid"}, "langs": {"type": "array", "items": {"$ref": "#/definitions/ProductLanguage"}}}}, "GameDetail": {"required": ["name", "description", "about", "type", "developersUuid", "publishersUuid", "dlcs", "langs"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 100, "minLength": 1}, "releaseDate": {"title": "Release date", "type": "string", "format": "date", "readOnly": true}, "genres": {"type": "array", "items": {"$ref": "#/definitions/GenreGames"}, "readOnly": true}, "price": {"title": "Price", "type": "string", "readOnly": true}, "discount": {"title": "Discount", "type": "integer", "default": 0}, "isBought": {"title": "Is bought", "type": "boolean", "default": false}, "isFavorite": {"title": "Is favorite", "type": "boolean", "default": false}, "description": {"title": "Description", "type": "string", "minLength": 1}, "about": {"title": "About", "type": "string", "minLength": 1}, "age": {"title": "Age", "type": "integer", "maximum": 2147483647, "minimum": -2147483648, "x-nullable": true}, "adult": {"title": "Adult", "type": "string", "x-nullable": true}, "status": {"title": "Status product", "type": "string", "enum": ["MODERATION", "PUBLISH", "CLOSE"]}, "type": {"title": "Type product", "type": "string", "enum": ["GAMES", "DLC"]}, "developersUuid": {"title": "Developers uuid", "type": "string", "format": "uuid"}, "publishersUuid": {"title": "Publishers uuid", "type": "string", "format": "uuid"}, "dlcs": {"type": "array", "items": {"$ref": "#/definitions/Product"}}, "langs": {"type": "array", "items": {"$ref": "#/definitions/ProductLanguage"}}, "systemRequirements": {"type": "array", "items": {"$ref": "#/definitions/SystemRequirement"}, "readOnly": true}}}, "Genre": {"required": ["name"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "name": {"title": "Genre", "type": "string", "maxLength": 50, "minLength": 1}}}, "Language": {"required": ["name"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 100, "minLength": 1}}}, "OperatingSystem": {"type": "object", "properties": {}}, "MinMaxPrice": {"type": "object", "properties": {"minPrice": {"title": "Min price", "type": "string", "readOnly": true}, "maxPrice": {"title": "Max price", "type": "string", "readOnly": true}}}},
  "openapi": "3.0.1",
  "components": {}
}